.expense-item {
    /* display: flex; */
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    /* justify-content:initial; */
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: lightslategrey;
}



.expense-item-title{
    padding: 0.8rem;
    /* display: flex; */
    color: white;
    /* flex-direction: column; */
    /* gap: 1rem; */
    /* align-items: flex-end; */
    /* flex-flow: column-reverse; */
    /* justify-content: flex-start; */
    /* flex:1; */
}

.expense-item-price{    
    color: white;
    padding: 0.8rem;
    /* background-color: #40005d; */
    /* border:1px solid white; */
    /* border-radius: 12px; */
}

.expense-item-price .price-round{
    border:1px solid white;
    background-color: #40005d;
    border-radius: 14px;
}
.expense-item-delete{
    padding: 1.2rem;
}
.expense-item-delete .delete-icon{
   color: white;
   font-size: 1rem;
    border:1px solid white;
    border-radius: 55px;
    background-color: red;
}

.expense-item-delete .delete-icon:hover{
    color: red;
    background-color: white;
}
/* @media (min-width:280px) {     */
                                /* Responsive css */
    /* .expense-item{
        font-size:1.15rem;
    }
    .expense-item-details{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        justify-content: flex;
    }

.expense-item-price{
    font-size: 1.15rem;
    padding: 0.5rem 1.25rem;
} */
/* } */